@model IEnumerable<Rukomet.Models.Igrac>

@{
    ViewData["Title"] = "Index";
}
<h3 class="text-white">Unesi novog igrača:</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<br />
<br />
<form typeof="get" class="text-white">
    Unesite tekst za filtiranje:
    <input type="search" name="search" value="@ViewBag.Search"/>
    <input type="submit" value="Traži"/>
</form>
<table class="table">
    <thead class="text-white">
        <tr >
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.BrojDresa)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Klub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojDresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klub)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
